<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/dileepm6531/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/DileepMeena6531"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/dileep-meena-b53943220?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <div class="f-info-made">
            <i class="fa-solid fa-heart"></i>
            Made By dileep
        </div>
    </div>
</footer>